{
	"auths": {
		"{{ DOCKER_REGISTRY }}": {
			"auth": "{{ DOCKER_REGISTRY_TOKEN }}"
		}
	},
	"proxies": {
        "default": {
            "httpProxy": "{{ PROXY_URL }}",
            "httpsProxy": "{{ PROXY_URL }}",
            "noProxy": "{{ NO_PROXY_DOMAIN }}"
        }
    }
}